/*------------------------- Common CSS ----------------------*/
body{
background: #18243a;
font-size: 10px;
font-family: "OpenSans", Helvetica, Arial, sans-serif;
}
#dataList_Body
{
background: #dcdfe5;
}
.left {float:left;}

.right { float:right;}

.clear{clear: both;}

.uppercase{text-transform: uppercase;}

.text_white{color:#fff !important;}

.text_blue{color:#5288c5 !important;}

.text_red{color:#e74242 !important;}

.text_lightgrey{color:#888 !important;}

.text_right{text-align: right}

.text_center{text-align: center}

.inline {display: inline; }
.ellip
{
white-space:nowrap;  
overflow:hidden;
text-overflow:ellipsis; 
}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.padding5
{
padding: 5px !important;
}

a{color:#355680;}

.box_sizing
{
box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
}
.outer
{
width:100%;
padding:20px;
box-sizing:border-box;
-webkit-box-sizing:border-box;
}


.light{font-family: "OpenSans_Light", Helvetica, Arial, sans-serif !important;}
.bold{font-family: "OpenSans_Bold", Helvetica, Arial, sans-serif !important;}
.semi_bold{font-family: "OpenSans_SemiBold", Helvetica, Arial, sans-serif !important;}
.italic{font-family: "OpenSans_Italic", Helvetica, Arial, sans-serif !important;}


.font12 { font: 120%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font14 { font: 140%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font15 { font: 150%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font16 { font: 160%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font18 { font: 180%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font20 { font: 200%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font22 { font: 220%/140% "OpenSans", Helvetica, Arial, sans-serif; }
.font24 { font: 240%/140% "OpenSans", Helvetica, Arial, sans-serif; }



/*------------------------- Common CSS End ----------------------*/

/*------------------------- Input Field CSS ----------------------*/

input[type="text"],input[type="email"],input[type="password"]
{
width: 100%;
padding: 10px 10px 5px 10px;
color:#fff;
font: 160%/120% "OpenSans", Helvetica, Arial, sans-serif;
box-sizing:border-box;
-webkit-box-sizing:border-box;
background: no-repeat 0 0,transparent no-repeat 100% 0;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#2a4264),color-stop(1,#2a4264)),-webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#2a4264),color-stop(1,#2a4264));
background-size: 1px 100%, 1px 100%;
-webkit-appearance: none;
border: 0;
border-bottom: 1px solid #2a4264;
color:#fff;
}
.login_con input[type="text"], .login_con input[type="email"],.login_con input[type="password"]{

background: none;
border: 2px solid #35557f;
padding: 10px;

}

input:focus, select:focus
{
	outline: none;
}
input::-webkit-input-placeholder {
color: #5286c3;
}

input:-webkit-autofill
{
   background-color: transparent;
   color: #fff !important;
}

.doc_detail_con input::-webkit-input-placeholder
{
color:#8c929d;
}
input.search_header
{
background: no-repeat 0 0,no-repeat 100% 0;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#fff),color-stop(1,#fff)), -webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#fff),color-stop(1,#fff));
border-bottom: 1px solid #fff;
background-size: 1px 100%, 1px 100%;
padding: 13px 35px 7px 30px;
}

input.search_header::-webkit-input-placeholder
{
    color:#ec8181;

}
select
{
width: 100%;
padding: 10px 10px 5px 10px;
color: #fff;
font: 160%/120% "OpenSans", Helvetica, Arial, sans-serif;
box-sizing: border-box;
-webkit-box-sizing: border-box;
background: no-repeat 0 0,no-repeat 100% 0,no-repeat 97% 50%;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#2a4264),color-stop(1,#2a4264)), -webkit-gradient(linear,50% 0,50% 100%,color-stop(0.8,transparent),color-stop(0.8,#2a4264),color-stop(1,#2a4264)), url("../../imgs/arrow_down.png");
background-size: 1px 100%, 1px 100%, 14px;
-webkit-appearance: none;
border: 0;
border-radius: 0;
border-bottom: 1px solid #2a4264;
color: #5286c3;
}
input[type="checkbox"] 
{
	appearance: none;
    -webkit-appearance: none;
    width: 22px;
    margin-right: 5px;
    background: url("../../imgs/check.png") no-repeat center center;
    height: 16px;
    margin-top: 4px !important;
    background-size: contain;
    border:0;
}
input[type="checkbox"]:checked
{
	background: url("../../imgs/check_selected.png") no-repeat;
    background-size: contain;
    height: 20px;
    margin-top: 0 !important;
}
/*
input[type=checkbox] + label {
margin-top: -1px;
} 
*/

/*------------------------- Input Field CSS  End ----------------------*/


/*------------------------- prelogin CSS ----------------------*/

.project_name
{
font: 290%/120% "OpenSans_Bold", Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin: 50px 0;
color: #fff;
text-align: center;
}
.or
{
font: 200%/120% "OpenSans_Light", Helvetica, Arial, sans-serif;
text-align: center;
color: #5286c3;
margin: 20px 0;
}

.fb
{
width: 270px;
height: 40px;
margin: 0 auto;
background: url("../../imgs/fb.png") no-repeat 70% 50%;
background-size: contain;
}

.signup_con
{
padding-top:20px;
}
.signup_con input, .signup_con select
{
     margin-top:15px;
}
.signup_con .terms
{
width: 100%;
float: left;
color: #fff;
margin:22px 0;
}

/*------------------------- prelogin CSS End----------------------*/

/*------------------------- Popup CSS ----------------------*/

.poup_outer
{
background: #fff;
border-radius: 5px;
-webkit-border-radius: 5px;
width: 80%;
margin: 0 auto;
position:relative;
box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.poup_outer .list_title
{
font: 190%/120% "OpenSans_SemiBold", Helvetica, Arial, sans-serif;
color: #e94242;
padding: 20px 20px 14px 20px;
}
.poup_outer .item
{
color: #00b0e7;
padding: 10px 20px;
border-top: 2px solid #ddd;
font: 190%/120% "OpenSans", Helvetica, Arial, sans-serif;
}
.poup_outer .item:last-child
{
padding: 10px 20px 13px 20px;
border-bottom-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;

}
.poup_outer .item.camera
{
background: url("../../imgs/camera_icon_blue.png") no-repeat 20px 50%;
background-size: 27px;
padding-left: 57px;
}
.poup_outer .item.camera:active,.poup_outer .item.camera_active
{
background: url("../../imgs/camera_icon_white.png") no-repeat 20px 50%, #069dcc;
background-size: 27px, 100%;
color:#fff;
}
.poup_outer .item.gallery
{
background: url("../../imgs/gallery_icon_blue.png") no-repeat 20px 50%;
background-size: 23px;
padding-left: 54px;
}
.poup_outer .item.gallery:active,.poup_outer .item.gallery_active
{
background: url("../../imgs/gallery_icon_white.png") no-repeat 20px 50%, #069dcc;
background-size: 23px, 100%;
color:#fff;
}
.poup_outer.msg
{
padding: 30px 20px;
text-align: center; 
}

.poup_outer.msg .font16{ word-break:break-word;}
.poup_outer .ok_btn
{
    width:80%;
    margin:15px auto 0 auto;
}
.close_icon
{
position: absolute;
width: 30px;
height: 30px;
background: #e94242;
color: #fff;
right: -5px;
font: 290%/22px "OpenSans", Helvetica, Arial, sans-serif;
text-align: center;
top: -10px;
border-radius: 2px;
}
.poup_outer .title
{
font: 190%/120% "OpenSans_SemiBold", Helvetica, Arial, sans-serif;
color: #e94242;
margin-bottom:15px;
}
.poup_outer.confirm
{
padding: 25px 20px;
margin: 0 10%;
}
.cam_icon
{
background: url("../../imgs/camera_icon_white.png") no-repeat 0 50%;
background-size: 25px;
padding-left: 32px;
}
.gallery_icon
{
background: url("../../imgs/gallery_icon_white.png") no-repeat 0 50%;
background-size: 25px;
padding-left: 32px;
}

/*------------------------- Popup CSS End----------------------*/

/*------------------------- Document List CSS ----------------------*/

.upload_doc
{
background: #18243a;
padding: 14px 10px;
text-align: center;
color: #a8aaaf;
}
.upload_doc span
{
background: url("../../imgs/upload_doc_icon.png") no-repeat 0 50%;
background-size: 27px;
padding: 10px 5px 10px 38px;
}
.document_con
{
width: 100%;
float: left;
padding: 20px 12px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.document_con .doc{
width: 100%;
float: left;
margin-bottom: 12px;
padding: 10px 10px 10px 105px;
box-sizing: border-box;
position: relative;
min-height: 100px;
background: #f4f4f4;
border: 1px solid #c5c5c5;
}


.thumb_con
{
width: 80px;
height: 80px;
border: 1px solid #7a818f;
padding: 2px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
position: absolute;
left: 10px;
}
.thumb
{
width: 100%;
height: 100%;
}
.thumb.default
{
background: url("../../imgs/default_file_icon.png") no-repeat 50% ;
background-size:45px !important;
}
.document_con .doc.no_result
{
padding: 39px 10px 0 10px;
text-align: center;
font: 140%/140% "OpenSans_SemiBold", Helvetica, Arial, sans-serif;
}

/*------------------------- Document List CSS End----------------------*/

/*------------------------- Image Detail CSS ----------------------*/

.doc_img_con
{
width: 100%;
border: 1px solid #283f5f;
padding: 4px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
text-align:center;

}
.doc_img_con img
{
height:150px;
}

/*------------------------- Image Detail CSS End----------------------*/

/*------------------------- loader css ----------------------*/

.loader_img
{
background: url("../../imgs/loading.gif") no-repeat ;
background-size: cover;
width: 60px;
height: 22px;
margin: 0 auto;
}

/*------------------------- loader css End ----------------------*/
.tag
{
background: #5288c5;
margin: 0 5px 5px 0;
color: #fff;
padding: 2px 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
font: 120%/140% "OpenSans", Helvetica, Arial, sans-serif;
display: inline-block;
}
.searched_tag{
	background: #e94242;
}
.image_zoom .doc_img_con
{
height: 300px;
padding: 10px;
}
.image_zoom .doc_img_con img {
height: 280px;
}
.image_desc
{
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/*setting page*/

.input-hldr{
	margin: 5px 0 20px;
}

.input-hldr label{
	float: left;
	margin-top: 5px;
}

.input-hldr input{
	float: right;
	text-align: center;
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	padding: 5px 0 5px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #35557f;
	background: none;
	border-radius: 4px;
	color: #ffffff;
	width: 60px;
}
.upload_pic
{
padding: 10px 5px 10px 30px;
background: url("../../imgs/upload_icon_white.png") no-repeat 0 14px;
background-size: 19px;
}