<!-- HEADER LAYOUT TEMPLATE -->
<script type="text/template" id="headerLayout">
    
    <div class="hedaer_icon right search_icon search_icon_h"></div>
   	<%if(navigator.userAgent.match(/(iPad|iPhone|iPod touch);.*CPU.*OS 7_\d/i)){%>
		<div class="header_title left uppercase header_back_h" style="display:none"></div>
		<div class="menu_icon menu_h left "></div>
    	<div class="header_title left uppercase header_title_h">zinghr</div>
	<%}else{%>
		<div class="menu_icon menu_h left"></div>
    	<div class="header_title left uppercase header_title_h">zinghr</div>
		<div class="header_title left uppercase header_back_h" style="display:none"></div>
	<%}%>

    <div class="search_box search_box_h" style="display:none;">
      <input type="text" placeholder="type to search document"  class="search_header search_text_h"/>
	<input type="submit" class=" search_h search" value=""/>
      <span class="cross_search search_clear_h" style="display:none;">x</span>
    </div>

</div>
</script>
<!-- FOOTER LAYOUT TEMPLATE -->
<script type="text/template" id="footerLayout">
<div class="footer_area" >
    <div class="footer_outer main_footer_h" >
            <div class="footer">
        </div>
    </div>
</div>
</script>
<!-- MENU LAYOUT TEMPLATE -->
<script type="text/template" id="menuLayout">
  <div class="menu">
      <div class="current_user">
        <div class="user_img user_menu_img_h"></div>
        <div class="  ellip semi_bold font16 user_name_h">Hi</div>
        <div class="  ellip light font16 text_lightgrey user_email_h"></div>
      </div>
     <div class="menu_item m_home_h"><span class="icon home"></span>Home</div>
     <div class="menu_item m_upload_h"><span class="icon upload"></span>Upload</div>
     <div class="menu_item m_how_to_use_h"><span class="icon use"></span>How to Use?</div>
     <div class="menu_item m_contactus_h"><span class="icon contact_us"></span>Contact Us</div>
     <div class="menu_item m_settings_h"><span class="icon settings"></span>Settings</div>
     <div class="menu_item m_logout_h"><span class="icon logout"></span>Logout</div>
     <div class="social_media">
         <div class="fb fb_page_h"></div>
         <div class="twitter twitter_page_h"></div>
     </div>

      
  </div>
  <div class="menu_outer menu_outer_h"></div>
</script>
<!-- LOADING SPINNER VIEW TEMPLATE-->
<script type="text/template" id="loaderView">
<div >
        <div class="loader_img"></div>
        <div class="loading_msg auto_login_msg_h" style="display:block;">
                <div>ZingHr Loading !!!</div>
        </div>
</div>
</script>
<!-- ALERT VIEW TEMPLATE-->
<script type="text/template" id="alertView">

   <div class="poup_outer msg">
         <!--<div class="close_icon close_h">x</div> -->

         <div class="title title_h"></div>
         <div class="message_h font16"></div>
         <div class="btn turquoise ok_btn close_h">Ok</div>

         
   </div>


</script>
<!-- Upload options view  -->
<script type="text/template" id="uploadOptions">

   <div class="poup_outer">
         <div class="close_icon close_h">x</div>
         <div class="list_title">Upload file</div>
         <div class="item gallery take_from_gallery_h">Gallery</div>
         <div class="item camera take_from_camera_h">Take photo</div>
   </div>


</script>
<!-- CONFIRM VIEW TEMPLATE -->

<script type="text/template" id="confirmView">
    <div class="confirm poup_outer left">
        
        <div class="title text_center confirmation_h">Are you sure you want to exit?</div>
        <div class="two_btn mt5">
            <div class="btn turquoise left ok_callback_h">Yes</div>
            <div class="btn turquoise right cancel_callback_h">No</div>
        </div>
    </div>
</script>

<!-- CONFIRM VIEW TEMPLATE -->


<!-- CONFIRM VIEW TEMPLATE -->
<script type="text/template" id="uploadMoreDocuments">
    <div class="confirm poup_outer left" style="padding: 25px 12px;">
        <div class="close_icon close_h">x</div>
        <div class="title text_center confirmation_h">Success!!</div>
		<div class="font16  message_h text_center ">Do you want to upload more images?</div>
        <div class="two_btn mt20">
            <div class="btn turquoise left take_from_camera_h"><span class="cam_icon">Camera</span></div>
            <div class="btn turquoise right take_from_gallery_h"><span class="gallery_icon">Gallery</span></div>
        </div>
    </div>
</script>
<!-- CONFIRM VIEW TEMPLATE -->



<!-- SIGNUP LAYOUT TEMPLATE -->
<script type="text/template" id="signUpLayout">
<div>
    <div class="content_wrapper_h "></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="signUpView">

   <div class="outer left signup_con">
     <input type="text" id="userName" placeholder="username"  />
     <input type="email" id="userEmailAdd" placeholder="email id" />
     <input type="password" id="userPassword" placeholder="password" />
     <input type="password" id="userConfirmPassword" placeholder="retype password" />
     
    <!--
     <input type="text" id="userAddress" placeholder="address" />
    <select id="userCountry">
      <option>country</option>
      <option>India</option>
    </select>
    -->
    
     <div class="font15 terms"><input type="checkbox" class="left terms_condition_check_h" id="tnc"/><label class="left" for="tnc">accept terms and conditions</label></div>
      <div class="two_btn">
            <div><input type="submit" class="btn red signup_h left" value="register" style="margin-top:0"/></div>
            <div class="btn white right cancel_h" >cancel</div>
     </div>
     
   </div>


</script>
<!-- DATA LIST LAYOUT TEMPLATE -->
<script type="text/template" id="dataListLayout">
<div>
<div class="upload_doc font16 "><span class="upload_doc_h">Upload a new document</span></div>
    <div class="content_wrapper_h document_con"></div>
    
</div>
</script>
<!-- DATA LIST VIEW TEMPLATE -->
<script type="text/template" id="dataListView">

<%if(noResult){%>
	<div class="doc no_result" >
	    <%=noResult%>
    </div>
<%}else{%>

			<div class="doc image_zoom_details_h" document_object_id = "<%=objectId%>" imageName = "<%=DocumentName%>" imageTags="<%=DocumentsTags%>"  imageUrl="<%=user_images._url%>">
               <div class="thumb_con">
                    <div class="thumb "  style="background: url(<%=user_images._url%>) no-repeat 50%;background-size: contain;"></div>
               </div>
               <div class="doc_name ellip font14 semi_bold"><%= (typeof(DocumentName)!='undefined' ? DocumentName : 'Test')%></div>
				<div class="mt5">	
				<%  var tagsNewString = DocumentsTags.replace(/\s+/g,' ').trim().toLowerCase();
					var tagsArray = tagsNewString.split(' ');
					for(var i=0; i<tagsArray.length; i++){
						if(App.sessionVars.tagName.indexOf(tagsArray[i]) != -1){%>
							<span class="tag searched_tag"><%=tagsArray[i]%></span>
						<%}else{%>
							<span class="tag"><%=tagsArray[i]%></span>
						<%}}%>
               	</div>
               		<div class="font12 image_desc" style=" color: #333"></div>
            </div>

<%}%>    
            
           
   
</script>
<!-- IMAGE DETAILS LAYOUT TEMPLATE -->
<script type="text/template" id="imageDetailsLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="imageDetailsView">

<div class="outer left doc_detail_con">
        <div class="doc_img_con">
               <div class="doc_img" id="imageToUpload" ><img src=""  id="imagesIds" /></div>
				
        </div>
        <div class="mt15"><input type="text" id="documentName" placeholder="name your document" /></div>
        <div class="mt15"><input type="text" id="documentsTags" placeholder="add tag to organize" /></div>
        <div class="font14 text_white mt15 save_image_offline_h" >
            <input type="checkbox" id="offLineDocumentCheck" class="left"><label class="left text_blue" for="offLineDocumentCheck">save offline</label>
        </div>
        <div class="two_btn mt15">
            <div class="btn blue cancelDocumentUpload left cancel_image_upload_h" >cancel</div>
            <div class="btn red right upload_document_h">upload</div>
        </div>

</div>
</script>



<!-- IMAGE ZOOM LAYOUT TEMPLATE -->
<script type="text/template" id="imageZoomLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- Image Zoom View VIEW TEMPLATE -->
<script type="text/template" id="imageZoomView">

<div class="outer left image_zoom">
        <div class="doc_img_con">
               <div class="doc_img" id="imageToUpload" ><img src=""  id="imagesIds" /></div>
                 

        </div>

        <div class="mt25 font16 text_white image_name_h semi_bold">Image name goes here</div>
        <div class="mt25 image_tags_h" ></div>

        <div class="two_btn mt30">
            <div class="btn blue cancelDocumentUpload left edit_document_h" >Edit</div>
            <div class="btn red right upload_document_h share_document_h">Share</div>
        </div>

</div>
</script>


<!-- LOGIN LAYOUT TEMPLATE -->
<script type="text/template" id="userLoginLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="userLoginView">

	<div class="outer left login_con">

        <div class="project_name">zing-lifedocs</div>
        <div><input type="email" id="userEmailAdd" placeholder="Email"  /></div>
        <div class="mt10"><input type="password" id="userPassword" placeholder="Password" /></div>
        <div class="mt5 font15 text_right light"><a href="#forgotPwd" class="text_red">forgot password</a></div>
        <div class="two_btn mt30">
            <div><input type="submit" class="btn red login_h left" value="login" style="margin-top:0"/></div>
            <a href="#signUp"><div class="btn white  right" >signup</div></a>
        </div>
        <div class="clear"></div>
        <div class="or">or</div>
        <div class="fb fb_login_h"></div>

    </div>

</script>
<!-- FORGOT PWD LAYOUT TEMPLATE -->
<script type="text/template" id="forgotPwdLayout">
    <div class="outer mt20" >
        <input type="email" id="emailIdForPassword" placeholder="email" />
        <div class="btn red mt20 submit_h">submit</div>
    </div>
</script>

<!-- USER HOME LAYOUT TEMPLATE -->
<script type="text/template" id="userHomeLayout">
    <div class=" clear" >
        <div class="content_wrapper_h"></div>
    </div>
</script>
<!-- USER HOME VIEW TEMPLATE -->
<script type="text/template" id="userHomeView">
<div class="outer">
  <div id="container" class="container rotate">
    <canvas id="myCanvas" width="600" height="600" style="zoom:0.5"></canvas>
    <div class="circle circle_h"></div>
    <div class="user_image" style="background: url('imgs/user_img.jpg');background-size: cover;"></div>
    <div class="upload_div">
      <div class="upload_life_doc_text upload_icon_h capture_docs_h">
        Upload document<br> to your life</div>
      <div class="mt25 text_center ">
        <span class="upload_icon upload_icon_h"></span>
      </div>
    </div>
    </div>
   </div>
</div>
</script>
<!-- SETTINGS LAYOUT TEMPLATE -->
<script type="text/template" id="settingsLayout">
    <div class="outer" >
    	
			<div class="input-hldr">
			<label class="left semi_bold font14 text_white" for="daysToExpire">Link expiry days: </label>
			<input id ="daysToExpire" type="number" max=999 min=1 class="right rememberme_h font12" />
            <div class="clear"></div>
			</div>
		 

		<div class="doc_img_con">
             <div class="doc_img" id="profileImageId" ><img src=""  id="imagesIds" /></div>
    	</div>
    	<div class="btn turquoise mt20 upload_profile_h"><span class="upload_pic">Upload profile pic</span></div>
		<div class="two_btn mt20">
            <div class="btn blue cancelDocumentUpload left cancel_user_settings_h" >Cancel</div>
            <div class="btn red right save_user_settings_h">Save</div>
        </div>
    </div>

</script>

<!-- CONTACT US LAYOUT TEMPLATE -->
<script type="text/template" id="contactusLayout">

  <div class="outer text_white">
        <div class="font20 semi_bold text_center">Contact Us</div>
        <div class="font14 light mt10">
  "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
        </div>
   </div>
</script>

<!-- HOW TO USE LAYOUT TEMPLATE -->
<script type="text/template" id="howtouseLayout">
  <div id="mySwipe" class="swipe">
        <div class="swipe-wrap">
            <div>
                <div class="swipe-to"></div>
                <div class="hand"></div>
                <div class="how_to_use_h">Skip Instructions</div>
            </div>
            <div>
                <div class="how_to_use_h">Skip Instructions</div>
            </div>
            <div>
                <div class="how_to_use_h">Ok Thanks</div>
            </div>
        </div>
        <div class="slider-circles"></div>
    </div>
</script>


<!-- EMPTY TEMPLATE START -->
<script type="text/template" id="emptyTemplate">
    <div><div></div></div>
</script>
<!-- EMPTY TEMPLATE ENDS -->
<!-- CAFE MENU DETAILS VIEW TEMPLATE END -->
<script src="js/zhrv_libs/app.start.js" type="text/javascript"></script>
