.container
{
position: relative;
margin: 40px auto;
height: 300px;
width: 300px;
}

#myCanvas{
position:absolute;
top:0;
left:0;
z-index:992;
}
.circle
{
width:300px;
height:300px;
-webkit-border-radius:200px;
position:absolute;
top:0;
left:0;
box-sizing: border-box;
background: url("../../imgs/circle_bg.png") no-repeat;
background-size: cover;
z-index:991;
}
.user_image
{
width:170px;
height:170px;
position:absolute;
top:65px;
left:65px;
z-index:990;
background: url("../../imgs/default_user.png"),#fff;
background-size: cover;
}
.upload_life_doc_text
{
width: 195px;
margin: 0 auto;
text-align: center;
color: #5288c5;
font: 240%/140% "OpenSans_Light", Helvetica, Arial, sans-serif;
}
.upload_icon
{
width: 35px;
height: 45px;
display: inline-block;
background: url("../../imgs/upload_icon.png") no-repeat 0 50%;
background-size: contain;
margin-bottom:25px;
}
.upload_div {
width:100%;
text-align:center;
position: absolute;
top: 350px;
margin: 0 auto;
}