<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Zing HR Vault</title>
    <meta name="description" content="" />
    <meta name="author" content="LetsGoMo Labs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Turn off telephone number detection. -->
    <meta name = "format-detection" content = "telephone=no" />
    <!--Removes highlight from clicked elements-->
    <meta name="msapplication-tap-highlight" content="no"/>
    <!-- FONTS -->
    <style>

      @font-face {
      font-family: OpenSans;
      src: url("fonts/OpenSans-Regular.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_Light;
      src: url("fonts/OpenSans-Light.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_SemiBold;
      src: url("fonts/OpenSans-Semibold.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_Bold;
      src: url("fonts/OpenSans-Bold.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_Italic;
      src: url("fonts/OpenSans-Italic.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_LightItalic;
      src: url("fonts/OpenSans-LightItalic.ttf") format('truetype');
      }
      @font-face {
      font-family: OpenSans_SemiBoldItalic;
      src: url("fonts/OpenSans-SemiboldItalic.ttf") format('truetype');
      }


    </style>
    <!-- END FONTS -->
    <!-- Styling files -->
    <link type="text/css" rel="stylesheet" href="styles/layout/application.css"/>
    <link type="text/css" rel="stylesheet" href="styles/header/header.css"/>
    <link type="text/css" rel="stylesheet" href="styles/menu/menu.css"/>
    <link type="text/css" rel="stylesheet" href="styles/layout/standard_style_sheet.css"/>
    <link type="text/css" rel="stylesheet" href="styles/buttons/btn.css"/>
    <link type="text/css" rel="stylesheet" href="styles/home/home.css"/>
    <link type="text/css" rel="stylesheet" href="styles/layout/style-wp8.css"/>
    <link type="text/css" rel="stylesheet" href="styles/coachmarks/coachmarks.css"/>

    <!-- Scripts -->
    <!-- EXTERNAL LIBS -->
    <script src="js/external_libs/cordova/wp8/cordova.js" type="text/javascript"></script>
    <script src="js/external_libs/jquery.js" type="text/javascript"></script>
    <script src="js/external_libs/underscore.js" type="text/javascript"></script>
    <script src="js/external_libs/backbone.js" type="text/javascript"></script>
    <script src="js/external_libs/backbone.nested.js" type="text/javascript"></script>
    <script src="js/external_libs/backbone.marionette.js" type="text/javascript"></script>
    <script src="js/external_libs/backbone.overrides.js" type="text/javascript"></script>
    <script src="js/external_libs/iscroll.js" type="text/javascript"></script>
    <script src="js/external_libs/swipe.js" type="text/javascript"></script>
    <!-- CORE APP FILES -->

    <!-- jsPdf FILES -->

    <script type="text/javascript" src="js/helper_libs/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/libs/Deflate/adler32cs.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/libs/FileSaver.js/FileSaver.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/libs/Blob.js/BlobBuilder.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/jspdf.plugin.addimage.js"></script>

    <script type="text/javascript" src="js/helper_libs/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/jspdf.plugin.from_html.js"></script>
    <script type="text/javascript" src="js/helper_libs/jspdf/basic.js"></script>

    <script type="text/javascript" src="js/helper_libs/jspdf/dist/jspdf.debug.js"></script>

    <script src="js/external_libs/parse-1.2.18.js" type="text/javascript"></script>

    <!-- HEADER LAYOUT TEMPLATE -->
<script type="text/template" id="headerLayout">
    
    <div class="hedaer_icon right search_icon search_icon_h"></div>
    <%if(navigator.userAgent.match(/(iPad|iPhone|iPod touch);.*CPU.*OS 7_\d/i)){%>
        <div class="header_title left uppercase header_back_h" style="display:none"></div>
        <div class="menu_icon menu_h left "></div>
        <div class="header_title left ellip uppercase header_title_h" style="width:60%">zing-lifedocs</div>
    <%}else{%>
        <div class="menu_icon menu_h left"></div>
        <div class="header_title left uppercase ellip header_title_h" style="width:75%">zing-lifedocs</div>
        <div class="header_title left uppercase header_back_h" style="display:none"></div>
    <%}%>

    <div class="search_box search_box_h" style="display:none;">
      <input type="text" placeholder="type to search document"  class="search_header search_text_h"/>
    <input type="submit" class=" search_h search" value=""/>
      <span class="cross_search search_clear_h" style="display:none;">x</span>
    </div>

</div>
</script>
<!-- FOOTER LAYOUT TEMPLATE -->
<script type="text/template" id="footerLayout">
<div class="footer_area" >
    <div class="footer_outer main_footer_h" >
            <div class="footer">
        </div>
    </div>
</div>
</script>




<!-- MENU LAYOUT TEMPLATE -->
<script type="text/template" id="menuLayout">
  <div class="menu">
      <div class="current_user">
        <div class="user_img user_menu_img_h"></div>
        <div class="  ellip semi_bold font16 user_name_h">Hi</div>
        <div class="  ellip light font16 text_lightgrey user_email_h"></div>
      </div>
     <div class="menu_item m_home_h"><span class="icon home"></span>Home</div>
     <div class="menu_item m_upload_h"><span class="icon upload"></span>Upload</div>
     <div class="menu_item m_settings_h"><span class="icon settings"></span>Settings</div>
     <div class="menu_item m_how_to_use_h"><span class="icon use"></span>How to Use?</div>
     <div class="menu_item m_contactus_h"><span class="icon contact_us"></span>About Us</div>
     <div class="menu_item m_feedback_h"><span class="icon feedback"></span>Feedback</div>
     <div class="menu_item m_logout_h"><span class="icon logout"></span>Logout</div>
     <div class="social_media">
         <div class="fb fb_page_h"></div>
         <div class="twitter twitter_page_h"></div>
     </div>

      
  </div>
  <div class="menu_outer menu_outer_h"></div>
</script>
<!-- LOADING SPINNER VIEW TEMPLATE-->
<script type="text/template" id="loaderView">
<div >
        <div class="loader_img"></div>
        <div class="loading_msg auto_login_msg_h" style="display:block;">
                <div>ZingHr Loading !!!</div>
        </div>
</div>
</script>
<!-- ALERT VIEW TEMPLATE-->
<script type="text/template" id="alertView">

   <div class="poup_outer msg">
         <!--<div class="close_icon close_h">x</div> -->

         <div class="title title_h"></div>
         <div class="message_h font16"></div>
         <div class="btn turquoise ok_btn close_h">Ok</div>

         
   </div>


</script>

<!-- FACEBOOK ALERT VIEW TEMPLATE-->
<script type="text/template" id="FbAlertView">

   <div class="poup_outer msg">

         <div class="title title_h"></div>
         <div class="message_h font16"></div>
         <div class="btn turquoise ok_btn close_h">Ok</div>

         
   </div>


</script>


<!-- EXPIRY ALERT VIEW TEMPLATE-->
<script type="text/template" id="ExpiryAlertView">

   <div class="poup_outer msg">

         <div class="title title_h"></div>
         <div class="message_h font16"></div>
         <div class="btn turquoise ok_btn close_h">Ok</div>

         
   </div>


</script>

<!-- Upload options view  -->
<script type="text/template" id="uploadOptions">

   <div class="poup_outer">
         <div class="close_icon close_h">x</div>
         <div class="list_title">Upload file</div>
         <div class="item gallery take_from_gallery_h">Gallery</div>
         <div class="item camera take_from_camera_h">Take photo</div>
   </div>


</script>

<!--Desktop Upload options view  -->
<script type="text/template" id="uploadOptionsDesktop">

   <div class="poup_outer">
         <div class="close_icon close_h">x</div>
         <div class="list_title">Upload file</div>
         <div class="item gallery take_from_gallery_h">Gallery</div>
   </div>

</script>

<!-- addMoreDocumets view  -->
<script type="text/template" id="addMoreDocumets">

   <div class="poup_outer">
         <div class="close_icon close_h">x</div>
         <div class="list_title">Upload file</div>
         <div class="item gallery take_from_gallery_h">Gallery</div>
         <div class="item camera take_from_camera_h">Take photo</div>
   </div>


</script>


<!-- acceptDocument view  -->
<script type="text/template" id="acceptDocument">

    <div class="confirm poup_outer left">
        
        <div class="title text_center confirmation_h">Do you wish to accept this document?</div>
        <div class="two_btn mt5">
            <div class="btn red left cancel_callback_h">Decline</div>
            <div class="btn turquoise right ok_callback_h">Accept</div>
            
        </div>
    </div>


</script>

<!-- share Document view  -->
<script type="text/template" id="shareDocument">

   <div class="poup_outer">
         <div class="close_icon close_h">x</div>
         <div class="choose_doc_con">
            <div class="title text_center">Share Document</div>
            <div class="share_doc_option_con font14">
                <div class="left" style="display:none">
                  <input type="checkbox" name="share[1][]" class="terms_condition_check_h left" id="url" style="  margin-top: 4px; float: left;" checked>
                  <label class="left" for="url" >URL</label>
                </div>

                <div class="right" style="display:none">

                  <input type="checkbox" name="share[1][]" class="terms_condition_check_h left" id="attachment" style="  margin-top: 4px; float: left;">
                  <label class="left" for="attachment" >Attachment</label>
                </div>
            </div>

            <div class="chosse_options">
                 <span class="font16">Expiry Days:</span>
                 <input type="number" id="expiry" placeholder="">
            </div>
      <!--      <div class="chosse_options">
                 <span class="font16">Signature:</span>
                 <input type="text" id="" placeholder=" use for HDFC bank only">
            </div>
            <div class="chosse_options">
                 <span class="font16">Date:</span>
                 <input type="text" id="" placeholder="mm/dd/yy">
            </div>  -->
            <div class="cb0"></div>
            <div class="share_h btn navy" id="email_share">Share via Email</div>
            <%if( (navigator.userAgent.toLocaleLowerCase().indexOf('iphone') != -1) || (navigator.userAgent.toLocaleLowerCase().indexOf('ipod') != -1) || (navigator.userAgent.toLocaleLowerCase().indexOf('ipad') != -1)){%>
                <a  style="display:none;"  id="whatsapp_share"><div class="btn navy">Share via Whatsapp</div></a>
            <%}else{%>
                <div class="share_h btn navy" style="display:none;" id="whatsapp_share">Share via Whatsapp</div>
            <%}%>
         </div>
         
   </div>


</script>

<!-- email Id (Facebook) view  -->
<script type="text/template" id="emailFacebook">

   <div class="poup_outer provide_ur_email">
         <div class="close_icon close_h">x</div>
         <div class="padding_20">
             <div class="title">Please provide your email id</div>
             <div ><input type="email" id="facebookEmail" placeholder="email id"></div>
             <div class="btn turquoise mt20" id="fb_submit">Submit</div>
         </div>
   </div>


</script>

<!-- CONFIRM VIEW TEMPLATE -->

<script type="text/template" id="confirmView">
    <div class="confirm poup_outer left">
        
        <div class="title text_center confirmation_h">Are you sure you want to exit?</div>
        <div class="two_btn mt5">
            <div class="btn turquoise left ok_callback_h">Yes</div>
            <div class="btn turquoise right cancel_callback_h">No</div>
        </div>
    </div>
</script>

<!-- CONFIRM VIEW TEMPLATE -->


<!-- CONFIRM VIEW TEMPLATE -->
<script type="text/template" id="uploadMoreDocuments">
    <div class="confirm poup_outer left" style="padding: 25px 12px;">
        <div class="close_icon close_h">x</div>
        <div class="title text_center confirmation_h">Success!!</div>
        <div class="font16  message_h text_center ">Do you want to upload more Documents?</div>
        <div class="two_btn mt20">
            <div class="btn turquoise left take_from_camera_h"><span class="cam_icon">Camera</span></div>
            <div class="btn turquoise right take_from_gallery_h"><span class="gallery_icon">Gallery</span></div>
        </div>
    </div>
</script>
<!-- CONFIRM VIEW TEMPLATE -->



<!-- SIGNUP LAYOUT TEMPLATE -->
<script type="text/template" id="signUpLayout">
<div>
    <div class="content_wrapper_h "></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="signUpView">

   <div class="outer left signup_con">
     <input type="text" id="userName" placeholder="Username"  />
     <input type="email" id="userEmailAdd" placeholder="Email Id" />
     <input type="password" id="userPassword" placeholder="Password (Spaces are not allowed)" />
     <input type="password" id="userConfirmPassword" placeholder="Retype Password" />
     <input type="text" id="promoCode" placeholder="Promo Code (if any)"/>
     
    <!--
     <input type="text" id="userAddress" placeholder="address" />
    <select id="userCountry">
      <option>country</option>
      <option>India</option>
    </select>
    -->
    
     <div class="font15 terms"><input type="checkbox" class="left terms_condition_check_h" id="tnc"/><label class="left terms_h" >Accept terms and conditions</label></div>
      <div class="two_btn">
            <div><input type="submit" class="btn red signup_h left" value="Register" style="margin-top:0"/></div>
            <div class="btn white right cancel_h" >Cancel</div>
     </div>
     
   </div>


</script>
<!-- DATA LIST LAYOUT TEMPLATE -->
<script type="text/template" id="dataListLayout">
<div>
<div class="upload_doc font16 "><span class="upload_doc_h">Upload a new document</span></div>
    <div class="content_wrapper_h document_con"></div>
    
</div>
</script>
<!-- DATA LIST VIEW TEMPLATE -->
<script type="text/template" id="dataListView">

<%if(noResult){%>
    <div class="doc no_result" >
        <%=noResult%>
    </div>
<%}else{
     %>

    <%if(typeof user_images != "undefined"){%>
            <div class="doc image_zoom_details_h" document_object_id = "<%=objectId%>" imageName = "<%=DocumentName%>" imageTags="<%=DocumentsTags%>" pdfUrl="<%=pdf_doc._url%>" imageUrl="<%=user_images._url%>">
               <div class="thumb_con">
                    <div class="thumb " style="background: url(<%=user_images._url%>) no-repeat 50%;background-size: contain;"></div>
               </div>
               <div class="doc_name ellip font14 semi_bold"><%= (typeof(DocumentName)!='undefined' ? DocumentName : 'Test')%></div>
                <div class="mt5">   
                <%  var tagsNewString = DocumentsTags.replace(/\s+/g,' ').trim().toLowerCase();
                    var tagsArray = tagsNewString.split(' ');
                    for(var i=0; i<tagsArray.length; i++){
                        if(App.sessionVars.tagName.indexOf(tagsArray[i]) != -1){%>
                            <span class="tag searched_tag"><%=tagsArray[i]%></span>
                        <%}else{%>
                            <span class="tag"><%=tagsArray[i]%></span>
                        <%}}%>
                </div>
                    <div class="font12 image_desc" style=" color: #333"></div>
            </div>
        <%}
  else if(typeof user_images == "undefined" && typeof pdf_doc != "undefined"){
        var user_images = new Array();;
        user_images._url ='./imgs/default_pdf.png';
    %>
            <div class="doc image_zoom_details_h" document_object_id = "<%=objectId%>" imageName = "<%=DocumentName%>" imageTags="<%=DocumentsTags%>" pdfUrl="<%=pdf_doc._url%>" imageUrl="<%=user_images._url%>">
               <div class="thumb_con">
                    <div class="thumb " style="background: url(<%=user_images._url%>) no-repeat 50%;background-size: contain;"></div>
               </div>
               <div class="doc_name ellip font14 semi_bold"><%= (typeof(DocumentName)!='undefined' ? DocumentName : 'Test').toUpperCase()%></div>
                <div class="mt5">   
                <%  var tagsNewString = DocumentsTags.replace(/\s+/g,' ').trim().toLowerCase();
                    var tagsArray = tagsNewString.split(' ');
                    for(var i=0; i<tagsArray.length; i++){
                        if(App.sessionVars.tagName.indexOf(tagsArray[i]) != -1){%>
                            <span class="tag searched_tag"><%=tagsArray[i]%></span>
                        <%}else{%>
                            <span class="tag"><%=tagsArray[i]%></span>
                        <%}}%>
                </div>
                    <div class="font12 image_desc" style=" color: #333"></div>
            </div>
        <%}
        else if( (typeof NotificationPdf != "undefined") && (NotificationPdf == "True") ){%>
            <div class="doc image_zoom_details_h" document_object_id = "<%=objectId%>" imageName = "<%=DocumentName%>" imageTags="<%=DocumentsTags%>" pdfUrl="<%=NotificationUrl%>" imageUrl="<%=DefaultImage%>">
               <div class="thumb_con">
                    <div class="thumb " style="background: url(<%=DefaultImage%>) no-repeat 50%;background-size: contain;"></div>
               </div>
               <div class="doc_name ellip font14 semi_bold"><%= (typeof(DocumentName)!='undefined' ? DocumentName : 'Test')%></div>
                <div class="mt5">   
                <%  var tagsNewString = DocumentsTags.replace(/\s+/g,' ').trim().toLowerCase();
                    var tagsArray = tagsNewString.split(' ');
                    for(var i=0; i<tagsArray.length; i++){
                        if(App.sessionVars.tagName.indexOf(tagsArray[i]) != -1){%>
                            <span class="tag searched_tag"><%=tagsArray[i]%></span>
                        <%}else{%>
                            <span class="tag"><%=tagsArray[i]%></span>
                        <%}}%>
                </div>
                    <div class="font12 image_desc" style=" color: #333"></div>
            </div>
        <%}else {}%>
<%}%>    
            
           
   
</script>
<!-- IMAGE DETAILS LAYOUT TEMPLATE -->
<script type="text/template" id="imageDetailsLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="imageDetailsView">

<div class="outer left doc_detail_con">
        <div class="doc_img_con">
               <div class="doc_img" id="imageToUpload" ><span class="delete_img delete_h">Remove</span><img src=""  class="imagesIds" /></div>
                
        </div>
        
        <!-- 
        <div class="uploaded_doc_con">
            <div class="thumbnail"><img src="" /></div>
            <div class="thumbnail"><img src="" /></div>
        </div>
        -->

        <div class="mt15" id="docNameDiv"><input type="text" id="documentName" placeholder="name your document" /></div> 
        <div class="mt15" id="copyrightDiv"><input type="text" id="copyrightText" placeholder="enter copyright text" /></div>            
        <select id="selectTags">
        <option value="0" >Select Tags / Enter manually</option>
        <%for (var i = localStorage.inputTags.split(',').length - 1; i >= 0; i--) {%>
        <option><%=localStorage.inputTags.split(',')[i] %></option>
        <%};%>
        </select>
        <div class="mt15"><input type="text" id="documentsTags" placeholder="add tag to organize" /></div>
         <!--
        <div class="font14 text_white mt15 save_image_offline_h" style="display:none;" >
            <input type="checkbox" id="offLineDocumentCheck" class="left"><label class="left text_blue" for="offLineDocumentCheck">save offline</label>
        </div>
        
        <div class="font14 text_white mt15 signature_h" >
            <input type="checkbox" id="signatureCheck" class="left"><label class="left text_blue" for="signatureCheck">add signature</label>
        </div>
        -->
         <div class="mt25 text_center " style="padding-top: 20px;"><span class="upload_icon upload_more_icon_h"></span></div>   

        <div class="two_btn mt15">
            <div class="btn white cancelDocumentUpload left cancel_image_upload_h" >Cancel</div>
            <div class="btn red right upload_document_h">Upload</div>
        </div>

</div>
</script>



<!-- IMAGE ZOOM LAYOUT TEMPLATE -->
<script type="text/template" id="imageZoomLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- Image Zoom View VIEW TEMPLATE -->
<script type="text/template" id="imageZoomView">

<div class="outer left image_zoom">
        <div class="doc_img_con">
               <div class="doc_img" id="imageToUpload" ><img class="open_pdf_h imagesIds" src="" pdfUrl="" /></div>
                 

        </div>

        <div class="mt25 font16 text_white image_name_h semi_bold img_name">Image name goes here</div>
        <div class="mt25 image_tags_h" ></div>

        <div class="two_btn mt30">
            <div class="btn blue cancelDocumentUpload left edit_document_h" >Edit</div>
            <div class="btn red right upload_document_h share_document_h">Share</div>
        </div>
        <div class="one_btn mt30"><div class="btn red delete_doc_h left" >Delete</div></div>
</div>
</script>


<!-- LOGIN LAYOUT TEMPLATE -->
<script type="text/template" id="userLoginLayout">
<div>
    <div class="content_wrapper_h"></div>
</div>
</script>
<!-- LOGIN VIEW TEMPLATE -->
<script type="text/template" id="userLoginView">

    <div class="outer left login_con">

        <div class="project_name">zing-lifedocs</div>
        <div><input type="email" id="userEmailAdd" placeholder="Email"  /></div>
        <div class="mt10"><input type="password" id="userPassword" placeholder="Password" /></div>
        
        <div class="font14 text_white mt15 signed_h">
                    <input type="checkbox" id="signedCheck" class="left"><label class="left text_blue" for="signedCheck">Keep Me Signed In</label>
        </div>

        <div class="mt5 font15 text_right light"><a href="#forgotPwd" class="text_red">Forgot Password ?</a></div>
        <div class="two_btn mt30">
            <div><input type="submit" class="btn red login_h left" value="Login" style="margin-top:0"/></div>
            <a href="#signUp"><div class="btn white  right" >Signup</div></a>
        </div>
        <div class="clear"></div>
        <div class="or">or</div>
        <div class="fb fb_login_h"></div>

    </div>

</script>
<!-- FORGOT PWD LAYOUT TEMPLATE -->
<script type="text/template" id="forgotPwdLayout">
    <div class="outer mt20" >
        <input type="email" id="emailIdForPassword" placeholder="Email" />
        <div class="two_btn mt30">
            <div class="btn red  left submit_h">Submit</div>
            <div class="btn white  cancel_h right" >Cancel</div>
        </div>
    </div>
</script>

 <!-- USER HOME LAYOUT TEMPLATE -->
    <script type="text/template" id="userHomeLayout">
      <div class=" clear" >
        <div class="content_wrapper_h"></div>
      </div>
    </script>
    <!-- USER HOME VIEW TEMPLATE -->
    <script type="text/template" id="userHomeView">
      <div class="outer" style="padding:10px; padding-top:20px">
        <div id="container" class="container rotate">
          <canvas id="myCanvas" width="600" height="600" style="zoom:0.5"></canvas>
          <div class="circle circle_h"></div>
          <div class="user_image" style="background: url('imgs/default_user.png'), #fff ;background-size: cover;"></div>
          <div class="upload_div">
            <div class="upload_life_doc_text upload_icon_h capture_docs_h">
              Upload Document<br> to your life</div>
            <div class="mt25 text_center ">
              <span class="upload_icon upload_icon_h"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </script>

<!-- SETTINGS LAYOUT TEMPLATE -->
<script type="text/template" id="settingsLayout">
    <div class="outer" >
        
            <div class="input-hldr">
            <label class="left semi_bold font14 text_white" for="daysToExpire">Link expiry days: </label>
            <input id ="daysToExpire" type="number" max=999 min=1 class="right rememberme_h font12" />
            <div class="clear"></div>
            </div>
         

        <div class="doc_img_con">
             <div class="doc_img" id="profileImageId" ><img src=""  class="imagesIds imagesIds_profile" /></div>
        </div>
        <div class="btn turquoise mt20 upload_profile_h" id="profile"><span class="upload_pic_edit">Edit Profile Picture</span></div>

        <div class="doc_img_con mt20 imagesIds_signature">
             <div class="doc_img" id="signatureImageId" ><img src=""  class="imagesIds imagesIds_signature" /></div>
        </div>
        <div class="btn turquoise mt20 upload_profile_h" id="signature"><span class="signatureUpload upload_pic_edit">Edit Signature</span></div>

        <div class="two_btn mt20">
            <div class="btn white cancelDocumentUpload left cancel_user_settings_h" >Cancel</div>
            <div class="btn red right save_user_settings_h">Save</div>
        </div>
        <div class="mt20"></div>
    </div>

</script>

<!-- CONTACT US LAYOUT TEMPLATE -->
<script type="text/template" id="contactusLayout">

  <div class="outer text_white contact_us">
        <div class="font14">ZingLifeDocs is an innovative mobile app which lets you save all your documents on a highly secure cloud platform helping you access &amp; share them anywhere, everywhere, anytime.</div>
        <div class="subtitle mt10">Contact Us:</div>
        <div class="font16 semi_bold mt10 contact_prasad_h" contactEmail="prasad@zinglifedocs.com">Prasad Rajappan <a style="margin-left:5px;">prasad@zinglifedocs.com</a></div>
        <div class="font16 semi_bold mt10 contact_support_h" contactEmail="support@zinglifedocs.com">Support <a style="margin-left:5px;">support@zinglifedocs.com</a></div>
   </div>
</script>

<!-- HOW TO USE LAYOUT TEMPLATE -->
<script type="text/template" id="howtouseLayout">
  <div id="mySwipe" class="swipe">
        <div class="swipe-wrap">
            <div>
                <div class="swipe-to"></div>
                <div class="hand"></div>
                <div class="how_to_use_h">Skip Instructions</div>
                <div class="next_screen next_screen_h semi_bold"> Next &#187;</div>
            </div>
            <div>
                <div class="next_screen next_screen_h semi_bold"> Next &#187;</div>
                <div class="how_to_use_h">Skip Instructions</div>
            </div>
            <div>
                <div class="how_to_use_h">Ok Thanks</div>
            </div>
        </div>
        <div class="slider-circles"></div>
    </div>
</script>

<script type="text/template" id="termsLayout">
  <div class="termsc">

    <p>Terms and Conditions :</p>
    <ol>
      <li>
        <b>GENERAL</b>
        By installing the Application (as defined below), you agree to be bound by these terms of use ("appterms").
        Please review them carefully before installation and/or acceptance.
      </li>
      <li>
        <b>DEFINITIONS</b>
        The "Application" shall mean the software provided by Zing LifeDocs to offer services related to Zing LifeDocs,
        Zing LifeDocs's services and its partners' services, to be used on Apple iOS and Android OS devices and any upgrades
        from time to time and any other software or documentation which enables the use of the Application.
      </li>
      <li>
        <b>DATA PROTECTION</b>
        Any personal information you supply to Zing LifeDocs when using the Application will be used by Zing LifeDocs
        in accordance with its Privacy Policy.
      </li>
      <li>
        <b>PROPRIETARY RIGHTS AND LICENCE</b>
        <ol>
          <li>
            All trade marks, copyright, database rights and other intellectual property rights of any nature in
            the Application together with the underlying software code are owned either directly by Zing LifeDocs or by
            Zing LifeDocs's licensors.
          </li>
          <li>
            Zing LifeDocs hereby grants you a worldwide, non-exclusive, royalty-free revocable licence to use the
            Application for your business and personal use in accordance with these appterms.
          </li>
        </ol>
      </li>
      <li>
        <b>CONDITIONS OF USE</b>
        <ol>
          <li>You will not, nor allow third parties on your behalf to (i) make and distribute copies of the Application (ii) attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Application; or (iii) create derivative works of the Application of any kind whatsoever. </li>
          <li>The Application is currently made available to you free of charge for your personal, non-commercial use. Zing LifeDocs reserves the right to amend or withdraw the Application, or charge for the application or service provided to you in accordance with these appterms, at any time and for any reason.</li>
          <li>You acknowledge that the terms of agreement with your respective mobile network provider ('Mobile Provider') will continue to apply when using the Application. As a result, you may be charged by the Mobile Provider for access to network connection services for the duration of the connection while accessing the Application or any such third party charges as may arise. You accept responsibility for any such charges that arise.</li>
          <li>If you are not the bill payer for the mobile telephone or handheld device being used to access the Application, you will be assumed to have received permission from the bill payer for using the Application. </li>
        </ol>
      </li>
      <li>
        <b>AVAILABILITY</b>
        <ol>
          <li>This Application is available to handheld mobile devices running Apple iOS and Android OS Operating Systems. Zing LifeDocs will use reasonable efforts to make the Application available at all times. However you acknowledge the Application is provided over the internet and mobile networks and so the quality and availability of the Application may be affected by factors outside Zing LifeDocs's reasonable control.</li>
          <li>Zing LifeDocs, its group of companies and sub-contractors do not accept any responsibility whatsoever for unavailability of the Application, or any difficulty or inability to download or access content or any other communication system failure which may result in the Application being unavailable. 8.3. Zing LifeDocs will not be responsible for any support or maintenance for the Application.</li>
        </ol>
      </li>
      <li>
        <b>SYSTEM REQUIREMENTS </b>
        <ol>
          <li>In order to use the Application, you are required to have a compatible mobile telephone or handheld device, internet access, and the necessary minimum specifications ('Software Requirements'). </li>
          <li>The Software Requirements are as follows: Apple iOS devices running iOS 7 or iOS 5, and Android OS devices running Android OS 4.0 up to OS 4.2.2; Language: English.</li>
          <li>The version of the Application software may be upgraded from time to time to add support for new functions and services.</li>
        </ol>
      </li>
      <li>
        <b>TERMINATION</b>
        <ol>
          <li>Zing LifeDocs may terminate use of the Application at any time by giving notice of termination to you.</li>
          <li>Upon any termination, (a) the rights and licenses granted to you herein shall terminate; (b) you must cease all use of the Software;</li>
        </ol>
      </li>
      <li>
        <b>LIMITATION OF LIABILITY </b>
        <ol>
          <li>In no event will Zing LifeDocs be liable for any direct, indirect, special, punitive, exemplary or consequential losses or damages of whatsoever kind arising out of your use or access to the Application, including loss of profit or the like whether or not in the contemplation of the parties, whether based on breach of contract, tort (including negligence), product liability or otherwise. </li>
          <li>Zing LifeDocs is not liable to you for any damage or alteration to your equipment including but not limited to computer equipment, handheld device or mobile telephones as a result of the installation or use of the Application. </li>
          <li>Nothing in these Appterms shall exclude or limit Zing LifeDocs's liability for death or personal injury caused by negligence or for fraud or fraudulent misrepresentation or any other liability which cannot be excluded or limited under applicable law. </li>
        </ol>
      </li>
      <li>
        <b>DISCLAIMER OF WARRANTIES</b>
        To the maximum extent permitted by law, and for the avoidance of doubt, save for section 2 of the Supply of Goods and Services Act 1982, Zing LifeDocs hereby disclaims all implied warranties with regard to the Application. The Application and software are provided "as is" and "as available" without warranty of any kind.
      </li>
    </ol>
  </div>
</script>


<!-- EMPTY TEMPLATE START -->
<script type="text/template" id="emptyTemplate">
    <div><div></div></div>
</script>
<!-- EMPTY TEMPLATE ENDS -->
<!-- CAFE MENU DETAILS VIEW TEMPLATE END -->
<script src="js/zhrv_libs/app.start.js" type="text/javascript"></script>


    <!-- <script src="js/zhrv_libs/app.template_loader.js" type="text/javascript"></script> -->
    <script src="js/zhrv_libs/app.objects.js" type="text/javascript"></script>
    <script src="js/zhrv_libs/app.js" type="text/javascript"></script>
    <script src="js/zhrv_libs/app.settings.js" type="text/javascript"></script>
    <script src="js/zhrv_libs/app.regions.js" type="text/javascript"></script>
    <script src="js/zhrv_libs/app.controller.js" type="text/javascript"></script>
    <script src="js/zhrv_libs/app.router.js" type="text/javascript"></script>
   

    <!-- HELPERS -->
    <script src="js/helper_libs/fastclick.js" type="text/javascript"></script>
    <script src="js/helper_libs/web_service_helper.js" type="text/javascript"></script>
    <script src="js/helper_libs/form_helpers.js" type="text/javascript"></script>
    <script src="js/native_bridge/network_helper.js" type="text/javascript"></script>
    <script src="js/helper_libs/fb.call.js" type="text/javascript"></script>
    <script src="js/helper_libs/push_notification_helper.js" type="text/javascript"></script>
    <!-- LAYOUTS -->
    <script src="js/layouts/header/header_layout.js" type="text/javascript"></script>
    <script src="js/layouts/footer/footer_layout.js" type="text/javascript"></script>
    <script src="js/layouts/menu/menu_layout.js" type="text/javascript"></script>
    <script src="js/layouts/authentication/user_login_layout.js" type="text/javascript"></script>
    <script src="js/layouts/home/user_home_layout.js" type="text/javascript"></script>
    <script src="js/layouts/authentication/forgot_pwd_layout.js" type="text/javascript"></script>
    <script src="js/layouts/authentication/signup_layout.js" type="text/javascript"></script>
    <script src="js/layouts/data/data_list_layout.js" type="text/javascript"></script>
    <script src="js/layouts/data/image_details_layout.js" type="text/javascript"></script>
    <script src="js/layouts/data/image_zoom_layout.js" type="text/javascript"></script>
    <script src="js/layouts/authentication/settings_layout.js" type="text/javascript"></script>
    <script src="js/layouts/howtouse/howtouse_layout.js" type="text/javascript"></script>
    <script src="js/layouts/contactus/contactus_layout.js" type="text/javascript"></script>
    <script src="js/layouts/terms/terms.js" type="text/javascript"></script>
    <!-- VIEWS -->
    <script src="js/views/authentication/user_login_view.js" type="text/javascript"></script>
    <script src="js/views/home/user_home_view.js" type="text/javascript"></script>
    <script src="js/views/popups/loader_view.js" type="text/javascript"></script>
    <script src="js/views/authentication/signup_view.js" type="text/javascript"></script>
    <script src="js/views/popups/alert_view.js" type="text/javascript"></script>
    <script src="js/views/popups/alert_view.js" type="text/javascript"></script>
    <script src="js/views/popups/fb_alert_view.js" type="text/javascript"></script>
    <script src="js/views/popups/add_more_upload.js" type="text/javascript"></script>
    <script src="js/views/popups/upload_options_view.js" type="text/javascript"></script>
    <script src="js/views/popups/expiry_alert_view.js" type="text/javascript"></script>
    <script src="js/views/popups/desktop_upload_options_view.js" type="text/javascript"></script>
    <script src="js/views/popups/desktop_upload_options_view.js" type="text/javascript"></script>
    <script src="js/views/popups/accept_document_view.js" type="text/javascript"></script>
    <script src="js/views/popups/share_document_view.js" type="text/javascript"></script>
    <script src="js/views/popups/facebook_view.js" type="text/javascript"></script>
    <script src="js/views/data/data_list_view.js" type="text/javascript"></script>
    <script src="js/views/data/image_details_view.js" type="text/javascript"></script>
    <script src="js/views/data/image_zoom_view.js" type="text/javascript"></script>
    <script src="js/views/popups/confirm_view.js" type="text/javascript"></script>
    <script src="js/views/popups/more_upload_view.js" type="text/javascript"></script>
    <script src="js/views/popups/add_more_upload.js" type="text/javascript"></script>
    <!-- COLLECTIONS -->
    <script type="text/javascript" src="js/collections/tags/tags_list_collection.js"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="js/models/authentication/user_model.js"></script>
    <script type="text/javascript" src="js/models/tags/tags_list_model.js"></script>


 
  </head>
  <body>
    <div id="headerRegion"></div>
    <div id="bodyHeightRegion">
      <div id="bodyRegion"></div>

    </div>
    <div id="menuRegion" style="display:none;"></div>

    <div id="popupRegion" style="display:none;"></div>
    <div id="popupRegionMask" style="display:none;"></div>
  </body>
</html>