.btn{
width:100%;
padding:12px;
text-align: center;
color:#fff;
box-sizing:border-box;
-webkit-box-sizing:border-box;
border:0;
font: 160%/120% "OpenSans", Helvetica, Arial, sans-serif; 
-webkit-appearance: none;
-webkit-border-radius:0px;
}
.btn.blue
{
 background: #5288c5;
}
.btn.turquoise
{
 background: #00b0e7;
}
.btn.red
{
 background: #e94242; 
}
.btn.white
{
	background: #fff;
	color: #e94242; 
}
.two_btn
{
	width:100%;
	float:left;
	
}
.two_btn .btn {

 width:49%;
}
.one_btn
{
	width:100%;
	float:left;
	
}
.one_btn .btn {

 width:100%;
}

.btn.navy{
 background: #18243a;
 color: #fff;
 margin-top: 15px;
}