#headerRegion
{

width: 100%;
height: 48px;
position: fixed;
top:0;
padding-right: 5px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
background: #e94242;
color: #fff;
z-index:3000;
}
.menu_icon
{
width:35px;
height:48px;
background: url("../../imgs/menu_icon.png") no-repeat 0 50%;
background-size:11px;
}
.header_title
{
 font: 200%/48px "OpenSans_SemiBold", Helvetica, Arial, sans-serif;
}
.hedaer_icon
{
width: 40px;
height: 48px;
}
.search_icon
{
background: url("../../imgs/search_icon.png") no-repeat 70% 50%;
background-size: 20px;	 
}
.second_menu
{
background: url("../../imgs/menu_icon2.png") no-repeat 50%;
background-size: 5px;
}
.user_name
{
font: 160%/48px "OpenSans_Light", Helvetica, Arial, sans-serif;;
}
.search_box
{
margin: 0 15px 0 35px;
position:relative;
}
.cross_search
{
width: 30px;
height: 30px;
position: absolute;
text-align: center;
font: 260%/120% "OpenSans_Light", Helvetica, Arial, sans-serif;
right: 0;
top: 7px;
box-sizing: border-box;
}
#headerRegion input.search
{
background: url("../../imgs/search_icon_grey.png") no-repeat 50%;
background-size: 14px;
position: absolute;
width: 30px;
height: 30px;
top: 9px;
-webkit-appearance:none;
border:0;
}
#headerRegion input.search.active{
background: url("../../imgs/search_icon.png") no-repeat 50%;
background-size: 14px;
    
}

.i_menu{
	width:45px;
	background: url("../../imgs/menu_icon.png") no-repeat center center!important;
	background-size: 21px 19px!important;
}

.header_back_h{
	background: url("../../imgs/back_arrow.png")no-repeat 5px center;
	background-size: 20px;
	width: 35px;
	height: 35px;
	margin: 5px 0;
	border-right: 1px solid rgba(218, 120, 120, 0.57);
}
