*{
	  		padding:0;
	  		margin:0;
	  	}
  		.swipe {
		  overflow: hidden;
		  visibility: hidden;
		  position: relative;
		  height: 500px;
		}
		.swipe-wrap {
		  overflow: hidden;
		  position: relative;
		}
		.swipe-wrap > div {
		  float: left;
		  width: 100%;
		  position: relative;
		}
		/*.swipe-wrap div a {
		  width: 100%;
		  display: block;
		}
		.swipe-wrap div a img {
		  width: 100%;
		}*/
		.slider-circles {
		  	text-align: center;
			position: absolute;
			width: 100%;
			bottom: 0px;
		}
		.slider-circles .Circle {
		  width: 10px;
		  height: 10px;
		  border-radius: 8px;
		  -o-border-radius: 8px;
		  background: #3971b8;
		  /*border: #ffffff solid 2px;*/
		  box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  margin-right: 4px;
		  display: inline-block;
		}
		.slider-circles .Circle.selected {
		  background: #e94242;
		  border: none;
		}
		.swipe-wrap > div:nth-of-type(1){
			background:url('1.jpg')no-repeat center center;
			background-size:100% 100%;
			height: 500px;
		}
		.swipe-wrap > div:nth-of-type(2){
			background:url('2.jpg')no-repeat center center;
			background-size:100% 100%;
			height: 500px;
		}
		.swipe-wrap > div:nth-of-type(3){
			background:url('3.jpg')no-repeat center center;
			background-size:100% 100%;
			height: 500px;
		}
		.swipe-wrap > div:nth-of-type(3) div{
			position:absolute;
			color:#ffffff;
			padding:10px 10px;
			background:#e94242;
			bottom:20px;
			right:20px;
			font-family:helvetica;
			font-size:18px;
		}

		.hand{
			position:absolute;
			width:40px;
			height: 40px;
			right:10%;
			bottom:57px;
			background:url('finger.png')no-repeat center center;
			background-size:contain;
			-webkit-animation:myfirst 5s; /* Chrome, Safari, Opera */
			animation:myfirst 5s;			
		}

		.how_to_use_h{
			position:absolute;
			bottom:50px;
			right:10px;
			font-size:17px;
			color:#ffffff;
			text-decoration: underline;
		}
        .next_screen
        {
			position: absolute;
			top: 80px;
			right: 25px;
			font-size: 28px;
			color: #ffffff;
			text-decoration: underline;
        }
		/* Chrome, Safari, Opera */
		@-webkit-keyframes myfirst
		{
		from {right:10%;}
		to {right:80%;}
		}

		/* Standard syntax */
		@keyframes myfirst
		{
		from {right:10%;}
		to {right:80%;}
		}

		.swipe-to{
			position: absolute;
			width:100%;
			height:50px;
			bottom:80px;
			//background: url('swipe_to.png')no-repeat center center;
			background-size:contain;
		}


		.swipe-wrap.window > div:nth-of-type(1){
			background:url('screen1_window.jpg')no-repeat center center;
			background-size:100% 100%;
			height: 500px;
		}
		
		.swipe-wrap.ios > div:nth-of-type(3){
			background:url('screen3_ios.jpg')no-repeat center center;
			background-size:100% 100%;
			height: 500px;
		}
		.swipe-wrap.window .hand
		{
           display:none;
		}
