html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

input, div, p, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

ol, ul {
    list-style: none;
}

a img {
    border: none;
}
a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.loading_region {
    background: url("../../imgs/loading_msg.gif") no-repeat center center;
    background-size: 25px;
    min-height: 250px !important;
    border: 1px solid red;
}

.ui-active {
    display: block;
}
.ui-inactive {
    display: none;
}

#bodyRegion : {
position:relative;
}

/*--------------------------clearfix for floated elements---------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
/*-------------------------------------------------------------------------------------*/

/*-------------------------- CSS for Region --------------------------*/

#bodyRegion 
{
   padding-top: 48px;
}
#popupRegion {
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 40px;
    left: 0px;
}
#popupRegionMask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3000;
    background: rgba(0,0,0,0.3);
}

.temporal_layer_h {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3004;
    top: 0px;
    left: 0px;
}
/*
 #loadingRegion {
 position: absolute;
 z-index: 3005;
 width: 100%;
 top: 0px;
 left: 0px;
 background: url(../../imgs/processing_img3.gif) no-repeat 50% 50%, rgba(255, 255, 255, 0);
 background-size: 60px;

 }
 #loadingRegionMask {
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: 3004;
 background: rgba(245, 245, 245, 0.597656);
 opacity: 0.6;
 top: 0px;
 left: 0px;
 }*/
/*-------------------------- CSS for Region End --------------------------*/

.terms_h{
    text-decoration: underline;
}
.termsc{
    font-size: 12px;
    background-color: white;
    padding:10px;
    text-align:justify;
}

.termsc OL { counter-reset: item; }
.termsc LI { display: block; margin:8px 0px;}
.termsc LI b{ font-weight:bold;}
.termsc LI LI{ margin-left:15px;}
.termsc LI:before { content: counters(item, ".") " "; counter-increment: item }