 body{
 backface-visibility:hidden;
 -webkit-backface-visibility:hidden;
 position: absolute;
 width: 100%;
 overflow-x: hidden;
 -ms-content-zooming: none;
 -ms-touch-action:pan-y;
 }
 html {
 -ms-touch-action: pan-x;
 touch-action: pan-x;
 overflow-x: hidden;
-ms-text-size-adjust:none
 }

 @-ms-viewport{
     width: auto!important;
  overflow:hidden;
  box-sizing:border-box;
 }
 #container{
 width: 100%; /* Spans the whole document */
 overflow-x: hidden; /* Hides overflow instead of displaying it */
 position: absolute;
 height:100%;
 }
.upload_div {
width:100%;
text-align:center;
position: absolute;
top: 350px;
margin: 0 auto;
}
select
{
padding: 10px 30px 5px 10px;
}
.upload_icon{
height: 30px;
}

 No newline at end of file