.body_transition {
    -webkit-transform: translate3d(264px, 0px, 0px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
 
#menuRegion
{
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 5000;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
 
.menu {
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: auto;
}
.menu_outer {
    width: 20%;
    height: 100%;
    
    z-index: 4;
    position: absolute;
    top: 0px;
    right: 0;
    overflow: auto;
}
.current_user
{
background: #e3e6e8;
padding: 18px 20px 18px 105px;
position: relative;
color: #18243a;
box-shadow: inset 0px 4px 6px #abadaf;
-webkit-box-shadow: inset 0px 4px 6px #abadaf;
}
.current_user .user_img
{
width: 60px;
height: 60px;
background: url("../../imgs/default_user.png") no-repeat;
background-size: cover;
position: absolute;
left: 20px;
top: 50%;
margin-top: -33px;
border: 2px solid #fff;
border-radius: 50px;
-webkit-border-radius: 50px;
}
.menu_item
{
color: #666;
padding: 16px 20px 16px 48px;
font: 150%/120% "OpenSans_light", Helvetica, Arial, sans-serif;
border-bottom: 1px solid #c6c6c6;
position: relative;
}
.menu_item.selected 
{
  font: 150%/120% "OpenSans_SemiBold", Helvetica, Arial, sans-serif; 
  color:#e54242;
}
.menu_item .icon
{
position: absolute;
left: 15px;
height: 24px;
width: 22px;
margin-top: -11px;
display: block;
background: url("../../imgs/menu_icon_sprite.png") no-repeat;
background-size: cover;
top: 50%;
}

.menu_item .icon.feedback
{
background: url("../../imgs/feedback_icon.png") no-repeat 50% 1px;
background-size: 21px; 
}
.menu_item.selected .icon.feedback
{
background: url("../../imgs/feedback_icon_red.png") no-repeat 50% 1px;
background-size: 21px; 
}
.menu_item .icon.home{ background-position: 0 3px; }
.menu_item.selected .icon.home{ background-position: 0 -35px; }
.menu_item .icon.upload{ background-position: 0 -76px; }
.menu_item.selected .icon.upload{ background-position: 0 -119px; }
.menu_item .icon.use{ background-position: 0 -161px; }
.menu_item.selected .icon.use{ background-position: 0 -200px; }
.menu_item .icon.contact_us{ background-position: 0 -243px; }
.menu_item.selected .icon.contact_us{ background-position: 0 -292px; }
.menu_item .icon.settings{ background-position: 0 -340px; }
.menu_item.selected .icon.settings{ background-position: 0 -382px; }
.menu_item .icon.logout{ background-position: 0 -424px; }
.menu_item.selected .icon.logout{ background-position: 0 -469px; }
.social_media
{
border-bottom: 1px solid #c6c6c6;
width: 100%;
float: left;  
}
.social_media div
{
    width:50%;
    height: 55px;
    float: left; 
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.social_media div.fb
{
background: url("../../imgs/fb_icon.png") no-repeat 50%;
background-size: 30px;
border-right: 1px solid #c6c6c6;
}
.social_media div.twitter
{
background: url("../../imgs/twitter_icon.png") no-repeat 50%;
background-size: 32px;
}




